<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Geo_Gold_Team</title>
       
    <link rel="stylesheet" href="{{url_for('static',filename='css/material.min.css')}}">
    <script src="{{url_for('static',filename='js/material.min.js')}}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}"  media="screen,projection"/>
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.js')}}"></script>
    <style>
     .mdl-mega-footer
          {
            background-color: #004d40;
          }
         .mdl-mini-footer{
          background-color: #004d40;
         } 

        body 
          {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }
          nav
          {
            background-color: #004d40;
          }
          .mdl-layout__header{
       background-color: #004d40; 
      }

  </style>
  </head>
  <body bgcolor="#84ffff">
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-navigation__link" href="/home"><i class="small material-icons">home</i></a>
      <!-- Title -->
      <span class="mdl-layout-title">Myanmar Language Converter</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      </nav>
    </div>
  </header>
</div>
<h4 class="title">About</h4>
  <hr style="height: 3px; background-color: #CD919F;">
    <div class="row">
    <div class="col s12 m4">
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/3.JPEG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">May Thu Tun<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/MayThuHtun">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">May Thu Tun<i class="material-icons right">close</i></span>
      <p>I am team leader.Our team create Myanmar Language Tools.My role is Team leading, Lead Dev and DevOps
     </p>
    </div>
  </div>
</div>
<div class="col s12 m4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/6.PNG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Sandar Soe<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/SandarSoe">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Sandar Soe<i class="material-icons right">close</i></span>
      <p>I am team member.Our team create Myanmar Language Tools.My role is developer responsibility.
</p>
    </div>

  </div>
</div>
<div class="col s12 m4">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/5.PNG')}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Nyo Nyo Htwe<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/NyoNyoHtwe">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Nyo Nyo Htwe<i class="material-icons right">close</i></span>
      <p>I am team member.We create Myanmar Language Tools.My role is developer responsibility.</p>
    </div>
  </div>
</div>
</div>
<div class="row">
    <div class="col s12 m4">
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/2.PNG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Marlar<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/Marlar22">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Marlar<i class="material-icons right">close</i></span>
      <p>I am UI/UX leader.We create Myanmar Language Tools.My role is UI/UX design.

</p>
    </div>
  </div>
</div>
<div class="col s12 m4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/4.JPEG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">May Mon Thu<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/maymonthu">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title greMay y-text text-darken-4">May Mon Thu<i class="material-icons right">close</i></span>
      <p>I am team member.We create Myanmar Language Tools.My role is UI/UX design.

</p>
    </div>

  </div>
</div>
<div class="col s12 m4">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/7.JPG')}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Phue Phue Khaing Min<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Phue Phue Khaing Min<i class="material-icons right">close</i></span>
      <p>I am team member.We create Myanmar Language Tools.My role is Test & Documentation</p>
    </div>
  </div>
</div>
</div>
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Features</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/partner">Partners</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Details</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/tools">Tools</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Technology</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/work">How it works</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">FAQ</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/questions_answers">Questions & Answers</a></li>
      </ul>
    </div>

  </div>     
      <div class="mdl-mini-footer">
        
        <div class="container">
          
          @ 2018 CUMDY Interns
          
            <a class="grey-text text-lighten-4 right">Goe-Gold Team</a>
        
        </div>

      </div>
    
    </footer>
    <!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
   </body>
</html>
